name: Check

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        env:
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        with:
          script: |
            const { HEAD_SHA } = process.env;
            const [owner, repo] = ["clearloop", "actions"]

            const result = await github.rest.checks.create({
              owner,
              repo,
              name: "Build",
              head_sha: HEAD_SHA,
              details_url: "https://api.github.com/repos/gear-tech/gear/actions/jobs/15967292456"
            });

            console.log(result);
